<div class="navbar__logo">
  <svg width="12" height="17" viewBox="0 0 12 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.5H4H8H12V4.5H8H4V6.65385H8V10.6538H4V12.5V16.5H0V12.5V8.5V4.5V0.5Z" fill="white"/>
  </svg>
  <p>Nathan Silva</p>
</div>
<div class="navbar__options">
  <ul>
    <li><strong>#</strong>home</li>
    <li><strong>#</strong>works</li>
    <li><strong>#</strong>about-me</li>
    <li><strong>#</strong>contacts</li>
  </ul>
</div>
