.navbar__logo{
  display: flex;
  align-items: center;
  cursor: pointer;
  p{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 0px;
  }
  svg{
    margin: 0 8px 0 0;
  }
}

.navbar__options{
  display: flex;
  width: 100%;
  max-width: 482px;
}

.navbar__options ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar__options ul li{
  display: inline-block;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ABB2BF;
  transition: all .2s;
  cursor: pointer;
  &.routerActive{
    color: #FFFFFF;
  }
  &:hover{
    color: #FFFFFF;
  }
  strong{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #C778DD;
  }
}

.navbar__side{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32px;
  position: absolute;
  left: 20px;
  top: 0;
}

.navbar__side .side__bar{
  height: 191px;
  width: 1px;
  background-color: #ABB2BF;
  margin: 0 0 8px 0;
}

.navbar__side .side__icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 89px;
  svg{
    fill: #ABB2BF;
    transition: all .2s;
    &:hover{
      fill: #FFFFFF;
      transform: scale(1.1);
    }
  }
}

@media(min-width: 1400px){
  .navbar__side{
    right: calc(100% + 112px);
    left: unset;
  }
}

@media(max-width: 1120px){
  .navbar__side{
    display: none;
  }

  .navbar__logo{
    padding: 0 0 0 15px;
  }

  .navbar__options{
    padding: 0 15px 0 0;
  }
}
