<div class="about__full">
  <div class="about__header">
    <h1><strong>/</strong>about-me</h1>
    <p>Who am i?</p>
  </div>
  <div class="about__body">
    <div class="about__content">
      <p>Hello, I'm Nathan Silva!<br><br>I'm a very creative and hard-working front-end developer. I can develop responsive websites from scratch and turn them into modern, user-friendly web experiences.<br><br>Turning my creativity and knowledge into websites has been my passion for almost a year now. I have helped several clients establish their online presence. I always strive to learn about the newest technologies and frameworks.</p>
    </div>
    <img src="../../assets/img/about-me.svg">
  </div>
  <div class="about__skills">
    <h1><strong>#</strong>skills</h1>
    <div class="skills__list">
        <div class="skills__item">
          <div class="skills__item--header">
            Languages
          </div>
          <div class="skills__item--body">
            <p>Javascript</p>
          </div>
        </div>
        <div class="skills__item">
          <div class="skills__item--header">
            Frameworks
          </div>
          <div class="skills__item--body">
            <p>Angular</p>
          </div>
        </div>
        <div class="skills__item">
          <div class="skills__item--header">
            Other
          </div>
          <div class="skills__item--body">
            <p>BEM architecture</p>
          </div>
        </div>
        <div class="skills__item">
          <div class="skills__item--header">
            Tools
          </div>
          <div class="skills__item--body">
            <div>
              <p>HTML</p>
              <p>CSS</p>
              <p>SCSS</p>
              <p>GIT</p>
            </div>
            <div>
              <p>VSCode</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="about__me">
    <h1><strong>#</strong>my-fun-facts</h1>
    <div class="facts__list">
      <div class="facts__item">
        <div>
          <p>I am obsessed with knowledge</p>
        </div>
        <div>
          <p>I like challenges</p>
        </div>
      </div>
      <div class="facts__item">
        <div>
          <p>I learn super fast</p>
        </div>
        <div>
          <p>I see problems as an opportunity to acquire more knowledge</p>
        </div>
      </div>
      <div class="facts__item">
        <div>
          <p>I find it easy to work in a team</p>
        </div>
      </div>
    </div>
  </div>
</div>
